<!doctype html>
<html class="no-js" lang="en_AU">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title }}</title>
</head>

<body>
    <div id="app"></div>
    <script src="{{ _util.makePath('common.bundle.js') }}"></script>
    <script src="{{ _util.makePath(page + '.bundle.js') }}"></script>
</body>

</html>